@using Protocolo.Helpers;

@{
    <script type="text/javascript">
    function FecharAlert()
    {
        document.getElementById('modal-danger').remove();
    }
    </script>



    var alert = TempData.ContainsKey(Alert.TempDataKey) ? (Alert)TempData[Alert.TempDataKey] : null;

    if (alert != null)
    {

        <div id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content bg-@alert.AlertStyle">
                    <div class="modal-header">
                        <h4 class="modal-title">Atenção</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="FecharAlert();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@Html.Raw(alert.Message)</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal" onclick="FecharAlert();">Fechar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
}
